    @import '../../base';
    @import '../../variables';
    // height: calc(100% - 100px);
    .main {
        min-height: calc(100vh - 100px);
        // background-color: #f5f4f4;
        background-image: url('../../images/bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.85;
        position: relative;
        .maintext {
            position: absolute;
            width: 35vw;
            // right: 5vw;
            top: 22vh;
            color: white;
            font-size: 4.5em;
            font-family: 'Montserrat', sans-serif;
            transform: translateX(-200%);
            opacity: 0;
            animation: slide-in-anim 1.5s ease-out forwards;
            @keyframes slide-in-anim {
                20% {
                    opacity: 0;
                }
                30% {
                    transform: translateX(85%);
                }
                40% {
                    transform: translateX(115%);
                }
                60% {
                    transform: translateX(145%);
                }
                75% {
                    transform: translateX(178%);
                }
                100% {
                    opacity: 1;
                    transform: translateX(170%);
                }
            }
        }
    }
    
    .secmain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .secmain1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3vh;
            margin-bottom: 1.5vh;
            padding: 1.5vh 2vw;
            .t1 {
                font-family: 'Water Brush', cursive;
                text-align: center;
                color: $color3;
                letter-spacing: 0.2em;
                font-size: 25px;
                margin-bottom: 1em;
            }
            // .img1 {
            //     width: 10vw;
            //     height: 10vh;
            // }
            .t2 {
                font-family: 'Poppins', sans-serif;
                text-align: center;
                color: $color3;
                letter-spacing: 0.1em;
                font-size: 16px;
                font-weight: lighter;
            }
        }
        .secmain2 {
            width: 65vw;
            // background-color: aqua;
            // border: 1px solid black;
            // // margin-top: 10vh;
            margin-bottom: 5vh;
            display: flex;
            flex-direction: row;
            // align-items: center;
            // justify-content: center;
            .p1 {
                height: 100%;
                width: 20vw;
                margin-right: 1vw;
                border-radius: 7px;
                opacity: 0.9;
                box-shadow: -18px 10px 18px 0px rgba(0, 0, 0, 0.1);
            }
            p {
                margin-right: 1vw;
                margin-top: 0.9vh;
                letter-spacing: 1.2px;
                font-weight: lighter;
                font-size: 1em;
            }
            span {
                margin-bottom: 2vh;
                font-size: 1.5em;
                font-family: 'Water Brush', cursive;
                text-indent: 2vw;
            }
            .sm21 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }